<!DOCTYPE html>
<html>
<head>
    <title>Disapearing Ninjas</title>
</head>
<body>
    {% load staticfiles %}
    {% if color == 'purple' %}
        <img src='{% static "ninja/don.jpg" %}'>
    {% elif color = 'orange' %}
        <img src='{% static "ninja/mike.jpg" %}'>
    {% elif color = 'blue' %}
        <img src='{% static "ninja/leo.jpg" %}'>
    {% elif color = 'red' %}    
        <img src='{% static "ninja/raph.jpg" %}'>
    {% else %}
        <img src = '{% static "ninja/meg.jpg"  %}'>
    {% endif %}
</body>
</html>